Dockerfile
.git
.cache
*.md
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
yarn-error.log
*.log
reports/
.expo-shared
.vscode
.github
.husky

# macOS
.DS_Store
.vscode
tmp
node_modules
logs
**/.git
**/.DS_Store
temp
.temp
.devspace/
container/chart
container/.helmignore
devspace.yaml
node_modules/
npm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid*
*.pid.lock*
goblet-core/yarn.lock
goblet-core/package.json